.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


button.btn.btn.react-bs-table-add-btn.btn-inst {
  background-color: #4DE85F; 
}

button.btn.btn.react-bs-table-add-btn.btn-inst:hover {
  background-color:#45D14A;
  color: #070707;
}

.fa-film {
  margin-right: 5px;
}


.btn-custom {
  background-color: #4DE85F !important; 
}

.btn-custom:hover{
  background-color:#45D14A !important;
  color: #070707;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
